ACP

NPDP/body
NPDP/figure
NPDP/reference
NPDP/bqrm.cfg
NPDP/bqrm.cls
NPDP/bqrm.sty
NPDP/NPDP总结.synctex.gz
NPDP/NPDP总结.tex

PBA

PMP/body
PMP/figure
PMP/reference
PMP/bqrm.cfg
PMP/bqrm.cls
PMP/bqrm.sty
PMP/PMBOK总结.synctex.gz
PMP/PMBOK总结.tex

PRINCE2/body
PRINCE2/figure
PRINCE2/reference
PRINCE2/bqrm.cfg
PRINCE2/bqrm.cls
PRINCE2/bqrm.sty
PRINCE2/PRINCE2总结.synctex.gz
PRINCE2/PRINCE2总结.tex

reading

relevant